h3{
    font-size: 25px !important;
}

.btn-warning:hover{
    background-color: rgb(58, 34, 80);
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{
        box-shadow: 1px 1px 38px rgb(132, 216, 187);
    }
    to{
        box-shadow: 1px 1px 38px rgb(62, 60, 101);
    }
}